# Folders
project-outlines/
uploads/
input_images/
node_modules/
dist/
coverage/
.npm/
.eslintcache/
.vscode/
.idea/

# Files
.DS_Store
package-lock.json
*.log
npm-debug.log*

# Environment
.env
.env.dev
