services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: wear-it-backend
    ports:
      - "${PORT:-3003}:3003"
    env_file:
      - .env
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "30m"
        max-file: "3"
