<%- include('includes/header') %>

<link rel="stylesheet" type="text/css" href="/css/home.css" />

<body>
  <!-- Navbar -->
  <%- include('includes/navbar') %>

  <!-- Dashboard -->
  <div>This is a dashboard</div>

  <script type="text/javascript" src="/js/home.js"></script>
</body>

<%- include('includes/footer') %>
