<%- include('includes/header') %>

<!-- Login CSS -->
<link rel="stylesheet" href="/css/login.css" />

<body>
  <%- include('includes/navbar') %>

  <div class="login">
    <div class="login-container">
      <h2 class="login-text">Login</h2>

      <form id="loginForm" action="/admin/login" method="POST">
        <div class="label">
          <label for="memberEmail" class="form-label">Email address</label>
          <input
            type="email"
            class="form-control"
            id="memberEmail"
            name="memberEmail"
            placeholder="example@gmail.com"
            required
          />
        </div>

        <div class="label">
          <label for="memberPassword" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            id="memberPassword"
            name="memberPassword"
            placeholder="Password"
            required
          />
        </div>

        <div class="login-button">
          <button type="submit" class="btn btn-primary">Login</button>
        </div>
      </form>

      <div class="signup-redirect">
        <p class="signup-text">
          Don't have an account? <a href="/admin/signup">Sign up</a>
        </p>
      </div>
    </div>
  </div>

  <!-- Login JS -->
  <script src="/js/login.js"></script>
</body>

<%- include('includes/footer') %>
