<%- include('includes/header') %>

<!-- Signup CSS -->
<link rel="stylesheet" href="/css/signup.css" />

<body>
  <%- include('includes/navbar') %>

  <div class="signup">
    <div class="signup-container">
      <h2 class="signup-text">Sign Up</h2>

      <form id="signupForm" action="/admin/signup" method="POST">
        <div class="label">
          <label for="memberEmail" class="form-label">Email address</label>
          <input
            type="email"
            class="form-control"
            id="memberEmail"
            name="memberEmail"
            placeholder="example@gmail.com"
            required
          />
        </div>

        <div class="label">
          <label for="memberPhone" class="form-label">Phone Number</label>
          <input
            type="tel"
            class="form-control"
            id="memberPhone"
            name="memberPhone"
            placeholder="010-1234-5678"
            required
          />
        </div>
        <div class="label">
          <label for="memberPassword" class="form-label">Password</label>
          <div class="password-field">
            <input
              type="password"
              class="form-control"
              id="memberPassword"
              name="memberPassword"
              placeholder="Password"
              required
            />
            <i class="fa-solid fa-eye toggle-password"></i>
          </div>
          <small class="password-helper"
            >Password must be at least 8 characters long!</small
          >
        </div>

        <div class="label">
          <label for="memberPasswordConfirm" class="form-label">Password</label>
          <div class="password-field">
            <input
              type="password"
              class="form-control"
              id="memberPasswordConfirm"
              name="memberPasswordConfirm"
              placeholder="Confirm Password"
              required
            />
            <i class="fa-solid fa-eye toggle-password"></i>
          </div>
        </div>

        <div class="signup-button">
          <button type="submit" class="btn btn-primary">Sign Up</button>
        </div>
      </form>

      <div class="login-redirect">
        <p class="login-text">
          Already have an account? <a href="/admin/login">Login</a>
        </p>
      </div>
    </div>
  </div>

  <script src="/js/signup.js"></script>
</body>

<%- include('includes/footer') %>
